header{
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

.div1{
    background: #3b3c45;
    padding: 5px;
    padding-top: 12px;
}

.div2{
    padding: 20px;
    color: #a8abb5;
    background: #555761;
    width: 100%;
    height: 100%;
}