<div class="screen"></div>

<form action="" (ngSubmit)="addUser()" #SignupForm="ngForm" class="card">

        <div class="header">
            <img src="images\Itorizon.png" 
                alt="" height="60px" width="200px">
            <h3>Sign Up</h3>
        </div>

        <div>
            <label for="username">User Name <span>*</span></label>
            <br>
            <input type="text" name="username" ngModel required/>
        </div>

        <div>
            <label for="password">Password <span>*</span></label>
            <br>
            <p-password [feedback]="false" [toggleMask]="true" name="password" ngModel required/>
        </div>

        <div>
            <label for="password">Confirm Password <span>*</span></label>
            <br>
            <p-password [feedback]="false" [toggleMask]="true" name="confirmpassword" ngModel required/>
        </div>

        <div>
            <button type="submit"
                    [disabled]="SignupForm.invalid" [ngClass]="{disable: SignupForm.invalid}">
                    Sign Up
            </button>
        </div>

        <div>
            <p>Do have an account? <span class="login" routerLink="/login">Login</span></p>
        </div>

</form>

<p-toast position="top-center"/>



