.card{
    width: 450px;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    border-radius: 10px;
    padding: 50px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.header{
    text-align: center;
}
.header h3{
    margin: 10px;
}
p{
    margin: 5px 0;
}

input{
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 8px;
}

input:focus{
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}
label{
    color: gray;
    margin-top: 6px;
    margin-bottom: 3px;
}

::ng-deep.p-inputtext{
    width: 100%;
    height: 45px;
    border: 1px solid gray !important;
    border-radius: 4px;
}

::ng-deep.p-inputtext:focus{
    border: 1px solid rgb(0, 0, 0) !important;
    outline: none;
}

::ng-deep.p-password{
    width: 100%;
}
::ng-deep.p-inputtext:focus{
    border: 1px solid gray !important;
    outline: none !important;
}
::ng-deep.p-card>div{
    width: 100%;
}

button{
    background-color: rgb(28, 168, 255);
    width: 100%;
    height: 45px;
    border-radius: 2px;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
.disable{
    background-color: lightskyblue;
}

.screen{
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgb(211, 238, 255), rgb(211, 238, 255),white);
    width: 100%;
    height: 100%;
}

.forgetpassword{
    color: blue;
    cursor: pointer;
}

.login{
    color: lightskyblue;
    cursor: pointer;
}

span{
    color: red;
}
/* Mobile View S */

@media screen and (max-width: 320px){
    .card{
        width: 300px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    label{
        font-size: 14px;

    }
    ::ng-deep.p-toast{
        width: 300px !important;
    }
}

/* Mobile View M */

@media screen and (max-width: 376px) and (min-width: 321px)  {
    
}

/* Mobile View L */

@media screen and (max-width: 426px) and (min-width: 376px) {
    
}


@media screen and (max-width: 768px) and (min-width: 427px) {
    
}