::ng-deep.p-dialog{
    width: 50%;
}

.cloumnflex{
    display: flex;
    column-gap: 10px;
    width: 100%;
}

input{
    width: 100%;
}

.cloumnflex>div{
    width: 100%;
}

.scrool{
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
}
.scrool::-webkit-scrollbar{
    display: none;
}

.p-select{
    width: 100%;
}

::ng-deep.p-datepicker{
    width: 100%;
}