.deptlistflex{
    display: flex;
    justify-content: end;
    margin: 20px 20px 0 20px;
}
.deptlistflex input{
    padding: 5px 15px;
    border-radius: 0 5px 5px 0;
    border: none;
    border: 1px solid lightgray;
}
input:focus{
    border: none;
    border: 1px solid rgb(165, 165, 165) !important;
}
.deptlisttable{
    margin: 25px 20px 2px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

span{
    float: right;
}

::ng-deep.p-datatable-scrollable > .p-datatable-table-container{
    max-height: 590px;
}

::ng-deep.p-paginator-page.p-paginator-page-selected{
    background-color: rgb(56 189 248) !important;
    color: white !important;
}
::ng-deep.p-select-option.p-select-option-selected.p-focus{
    background-color: rgb(56 189 248) !important;
    color: white !important;
}
::ng-deep.p-datatable-thead > tr > th.p-datatable-column-sorted{
    background-color: rgb(124, 124, 124) !important;
    color: rgb(0, 0, 0) !important;
}
::ng-deep.p-datatable-gridlines .p-datatable-thead > tr > th {
    background-color: rgb(245, 245, 245) !important;
    color: gray;
    margin: 1px;
}
::ng-deep.p-select-option.p-select-option-selected{
    background-color: rgb(150, 223, 255) !important;
    color: white !important;
}
::ng-deep.p-inputwrapper-focus{
    border: 1px solid gray !important;
}
::ng-deep.p-datatable-tbody > tr{
    cursor: pointer !important;
}

.deptlisttable.close ::ng-deep .p-ripple.p-paginator-last,
.deptlisttable.close ::ng-deep .p-paginator-page.p-paginator-page-selected,
.deptlisttable.close ::ng-deep .p-ripple.p-paginator-next,
.deptlisttable.close ::ng-deep .p-ripple.p-paginator-prev,
.deptlisttable.close ::ng-deep .p-ripple.p-paginator-first{
    display: none;
}

@media screen and (max-height: 640px){
    ::ng-deep.p-datatable-scrollable > .p-datatable-table-container{
        max-height: 400px;
    }
}