
<div class="cards">
    <img src="assets/itoicon.png" alt="" width="100px" height="100px">
    <h3>User Name</h3>
    <p>Position</p>
    <div class="flex1">
        <div>
            <h3>Department</h3>
            <p>dept name</p>
        </div>
        <div>
            <h3>Hire Date</h3>
            <p>date</p>
        </div>
    </div>
    <div class="flex2">
        <p><i class="fa-solid fa-envelope"></i> emailid</p>
        <p><i class="fa-solid fa-mobile-screen"></i> phone no</p>
    </div>
</div>
