<div class="charts">
    <div class="head">
        <div class="heading">
            <h3>No of Employees</h3>
            <div class="expandbutton1">   
                <p-button (onClick)="toExpand()" icon="pi pi-arrow-up-right-and-arrow-down-left-from-center" severity="secondary" pTooltip="Expand" tooltipPosition="bottom"></p-button>
            </div>
        </div>
        <div class="btns">
            <div class="togglebtn">
                <p-selectbutton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"/>
            </div>
            <div class="expandbutton2">   
                <p-button (onClick)="toExpand()" icon="pi pi-arrow-up-right-and-arrow-down-left-from-center" severity="secondary" pTooltip="Expand" tooltipPosition="bottom"></p-button>
            </div>
        </div>
    </div>
    <div *ngIf="value === 'pie'" class="noofempchart">
        <p-chart type="pie" [data]="data" [options]="options" class="noofempchart"/>
    </div>

    <div *ngIf="value === 'doughnut'" class="noofempchart">
        <p-chart type="doughnut" [data]="data" [options]="options" class="noofempchart"/>
    </div>
</div>

<div class="screen" *ngIf="extand"></div>

<div class="expandcharts" *ngIf="extand">
    <div class="expandhead">
        <div class="heading">
            <h3>No of Employees</h3>
            <div class="expandbutton1 closebtn"> 
                <p-button icon="pi pi-times" severity="secondary" (onClick)="closeExpand()"/>
            </div>
        </div>
        <div class="expandbtns">
            <div class="togglebtn">
                <p-selectbutton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"/>
            </div>
            <div class="expandbutton2 closebtn"> 
                <p-button icon="pi pi-times" severity="secondary" (onClick)="closeExpand()"/>
            </div>
        </div>
    </div>
    <div *ngIf="value === 'pie'" class="noofempchart">
        <p-chart type="pie" [data]="data" [options]="options" class="expandnoofempchart"/>
    </div>

    <div *ngIf="value === 'doughnut'" class="noofempchart">
        <p-chart type="doughnut" [data]="data" [options]="options" class="expandnoofempchart"/>
    </div>
</div>