.charts{
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    width: 100%;
}
.expandcharts{
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    width: 98%;
    height: 97%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1006;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expandhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.expandbtns{
    display: flex;
    align-items: center;
}
.expandbtns ::ng-deep.p-button{
    border-radius: 50%;
    font-size: 20px;
    margin-left: 30px;
}

.screen{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.489);
    top: 0;
    left: 0;
    z-index: 1004;
}
.togglebtn{
    display: flex;
    width: 100%;
    justify-content: center;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.expandbutton1{
    display: none;
}
.closebtn ::ng-deep.p-button{
    border-radius: 50px !important;
}
.noofempchart{
    display: flex;
    justify-content: center;
}
::ng-deep .expandnoofempchart>div{
    width: 700px;
    height: 700px;
}
::ng-deep .noofempchart>div{
    width: 400px;
    height: 400px;
}


@media screen and (max-height: 630px){
}

/* Mobile View S */

@media screen and (max-width: 320px){
    .expandcharts{
        width: 99%;
        height: 99%;
    }
    h3{
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    .head{
        display: block;
    }
    .expandhead{
        display: block;
    }
    .expandbutton1{
        display: block;
    }
    .expandbutton2{
        display: none;
    }
    .togglebtn{
        margin: 10px;
    }
    .expandbutton1 ::ng-deep.p-button{
        height: 25px;
        width: 25px;
    }
    ::ng-deep .noofempchart>div{
        width: 250px;
        height: 250px;
    }
    ::ng-deep .expandnoofempchart>div{
        width: 300px;
        height: 300px;
    }
}

/* Mobile View M */

@media screen and (max-width: 376px) and (min-width: 321px){
    .expandcharts{
        width: 99%;
        height: 99%;
    }
    h3{
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    .head{
        display: block;
    }
    .expandhead{
        display: block;
    }
    .expandbutton1{
        display: block;
    }
    .expandbutton2{
        display: none;
    }
    .togglebtn{
        margin: 10px;
    }
    ::ng-deep .noofempchart>div{
        width: 280px;
        height: 280px;
    }
    ::ng-deep .expandnoofempchart>div{
        width: 350px;
        height: 350px;
    }
}

/* Mobile View L */

@media screen and (max-width: 426px) and (min-width: 376px){
    .expandcharts{
        width: 99%;
        height: 99%;
    }
    h3{
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    .head{
        display: block;
    }
    .expandhead{
        display: block;
    }
    .expandbutton1{
        display: block;
    }
    .expandbutton2{
        display: none;
    }
    .togglebtn{
        margin: 10px;
    }
    ::ng-deep .noofempchart>div{
        width: 300px;
        height: 300px;
    }
    ::ng-deep .expandnoofempchart>div{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) and (min-width: 427px){
    ::ng-deep .expandnoofempchart>div{
        width: 500px;
        height: 500px;
    }
}

