<div class="flex1">
    <div> 
        <p-inputgroup>
            <p-button label="Search" size="large" severity="info"/>
            <input pInputText placeholder="Search" size="large"/>
        </p-inputgroup>
    </div>
    <div>
        <p-button (click)="showDialog()" label="Add" icon="pi pi-user" size="large" severity="info"/>
    </div>
</div>

<div class="card">
    <p-table [value]="empAttendance"
            [scrollable]="true" 
            scrollHeight="400px"
            [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th pSortableColumn="employeeid" style="min-width:200px">
                    Employee Id <span><p-sortIcon field="employeeid" /></span>
                </th>
                <th pSortableColumn="date" style="min-width:200px">
                    Date<span><p-sortIcon field="date" /></span>
                </th>
                <th pSortableColumn="departmentid" style="min-width:200px">
                    Department Id<span><p-sortIcon field="departmentid" /></span>
                </th>
                <th pSortableColumn="departmentname" style="min-width:200px">
                    Department Name<span><p-sortIcon field="departmentname" /></span>
                </th>
                <th pSortableColumn="available" style="min-width:200px">
                    Available <span><p-sortIcon field="available" /></span>
                </th>
                <th pSortableColumn="checkin" style="min-width:200px">
                    Checkin <span><p-sortIcon field="checkin" /></span>
                </th>
                <th pSortableColumn="checkout" style="min-width:200px">
                    Checkout <span><p-sortIcon field="checkout" /></span>
                </th>
                <th pSortableColumn="attendancecount" style="min-width:200px">
                    Attendance Count <span><p-sortIcon field="attendancecount" /></span>
                </th>
                <th pSortableColumn="createdsource" style="min-width:200px">
                    Created Source<span><p-sortIcon field="createdsource" /></span>
                </th>
                <th pSortableColumn="createdsourcetype" style="min-width:200px">
                    Created Source Type<span><p-sortIcon field="createdsourcetype" /></span>
                </th>
                <th pSortableColumn="createddate" style="min-width:200px">
                    Created Date<span><p-sortIcon field="createddate" /></span>
                </th>
                <th pSortableColumn="modifiedsource" style="min-width:200px">
                    Modified Source<span><p-sortIcon field="modifiedsource" /></span>
                </th>
                <th pSortableColumn="modifiedsourcetype" style="min-width:200px">
                    Modified Source Type<span><p-sortIcon field="modifiedsourcetype" /></span>
                </th>
                <th pSortableColumn="modifieddate" style="min-width:200px">
                    Modified Date<span><p-sortIcon field="modifieddate" /></span>
                </th>
                <th>
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr (dblclick)="empAtt()">
                <td>{{ user.employeeid }}</td>
                <td>{{ user.date }}</td>
                <td>{{ user.departmentid }}</td>
                <td>{{ user.departmentname }}</td>
                <td>{{ user.available }}</td>
                <td>{{ user.checkin }}</td>
                <td>{{ user.checkout }}</td>
                <td>{{ user.attendancecount }}</td>
                <td>{{ user.createdsource }}</td>
                <td>{{ user.createdsourcetype }}</td>
                <td>{{ user.createddate }}</td>
                <td>{{ user.modifiedsource }}</td>
                <td>{{ user.modifiedsourcetype }}</td>
                <td>{{ user.modifieddate }}</td>
                <td>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash-can"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div class="card">
    <p-dialog header="Verfication" [modal]="true" *ngIf="visible" [visible]="true" [style]="{ width: '25rem' }" [draggable]="false" [resizable]="false">
        <div>
            <label for="username" class="font-semibold w-24">Employee Id : </label>
            <input pInputText name="employeeid" class="flex-auto" [(ngModel)]="empId" />
        </div>
        <div>
            <label for="email" class="font-semibold w-24">Department Id : </label>
            <input pInputText name="departmentid" class="flex-auto"  [(ngModel)]="deptId"/>
        </div>
        <div class="button">
            <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
            <p-button label="Save" (click)="navigateToEmpList()" severity="info"/>
        </div>
    </p-dialog>
</div>

<div class="card">
    <p-dialog header="User Detail" [modal]="true" [(visible)]="isVisible" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"  [draggable]="false" [resizable]="false">
        <app-employeeattendanceform *ngIf="isVisible"/>
    </p-dialog>
</div>

<div class="card">
    <p-dialog header="User Detail" [modal]="true" [(visible)]="empDet" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"  [draggable]="false" [resizable]="false">
        <app-employeeattendanceform *ngIf="empDet"/>
    </p-dialog>
</div>
<p-toast position="top-center"/>