.flex1{
    display: flex;
    justify-content: end;
    margin: 20px 20px 0 20px;
}
.flex1 input{
    padding: 5px 15px;
    border-radius: 0 5px 5px 0;
    border: none;
    border: 1px solid lightgray;
}
.flex1 input:focus{
    border: none;
    border: 1px solid rgb(165, 165, 165) !important;
}
.attTable{
    margin: 25px 20px 2px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cards input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
::ng-deep.p-dialog-header{
    padding: 15px 20px 10px 20px !important;
}
.button{
    display: flex;
    justify-content: end;
}
.cards ::ng-deep.p-button{
    margin: 5px;
}
td ::ng-deep.p-button{
    padding: 0px;
}
span{
    float: right !important;
}

.btn2{
    margin-left: 10px;
}
::ng-deep.p-paginator{
    border-radius: 5px;
}
::ng-deep.p-paginator-page.p-paginator-page-selected{
    background-color: rgb(56 189 248) !important;
    color: white !important;
}

::ng-deep.p-select-option.p-select-option-selected.p-focus{
    background-color: rgb(56 189 248) !important;
    color: white !important;
}

::ng-deep.p-datatable-thead > tr > th.p-datatable-column-sorted{
    background-color: rgb(124, 124, 124) !important;
    color: rgb(0, 0, 0) !important;
}

::ng-deep.p-datatable-gridlines .p-datatable-thead > tr > th {
    background-color: rgb(245, 245, 245) !important;
    color: gray;
    margin: 1px;
}
::ng-deep.p-select-option.p-select-option-selected{
    background-color: rgb(150, 223, 255) !important;
    color: white !important;
}
::ng-deep.p-inputwrapper-focus{
    border: 1px solid gray !important;
}
@media screen and (max-height: 630px){
}

/* Mobile View S */

@media screen and (max-width: 320px){
    .flex1{
        display: block;
    }
    .flex1>div{
        width: 100%;
    }
    .flex1 ::ng-deep.p-button{
        width: 100%;
    }
    .btn2{
        margin: 0px;
        margin-top: 20px;
    }
}

/* Mobile View M */

@media screen and (max-width: 376px) and (min-width: 321px){
    .flex1{
        display: block;
    }
    .flex1>div{
        width: 100%;
    }
    .flex1 ::ng-deep.p-button{
        width: 100%;
    }
    .btn2{
        margin: 0px;
        margin-top: 20px;
    }
}

/* Mobile View L */

@media screen and (max-width: 426px) and (min-width: 376px){
    .flex1{
        display: block;
    }
    .flex1>div{
        width: 100%;
    }
    .flex1 ::ng-deep.p-button{
        width: 100%;
    }
    .btn2{
        margin: 0px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 427px){
    
}
