<div class="flex1">
    <div> 
        <p-inputgroup>
            <p-button label="Search" size="large" severity="info" />
            <input pInputText placeholder="Search" size="large" #filter (keyup)="search()"/>
        </p-inputgroup>
    </div>
    <div [ngClass]="{'btn2': username === 'Admin'}">
        <p-button (click)="showDialog()" label="Add" icon="pi pi-user" size="large" severity="info" *ngIf="username == 'Admin'"/>
    </div>
</div>

<div class="attTable" [class.close]="icon">
    <p-table [value]="empAttendance"
            showGridlines
            [scrollable]="true" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="arrbool"
            [rows]="5"
            [rowsPerPageOptions]="array"
            selectionMode="single"
            (onPage)="onPageChange($event)">
        <ng-template #header>
            <tr>
                <th pSortableColumn="employeeid" style="min-width:150px">
                    Employee Id<span><p-sortIcon field="employeeid" /></span>
                </th>
                <th pSortableColumn="date" style="min-width:140px">
                    Date<span><p-sortIcon field="date" /></span>
                </th>
                <th pSortableColumn="departmentid" style="min-width:160px">
                    Department Id<span><p-sortIcon field="departmentid" /></span>
                </th>
                <th pSortableColumn="departmentname.name" style="min-width:220px">
                    Department Name<span><p-sortIcon field="departmentname.name" /></span>
                </th>
                <th pSortableColumn="available" style="min-width:120px">
                    Available<span><p-sortIcon field="available" /></span>
                </th>
                <th pSortableColumn="checkin" style="min-width:120px">
                    Check-in<span><p-sortIcon field="checkin" /></span>
                </th>
                <th pSortableColumn="checkout" style="min-width:130px">
                    Check-out<span><p-sortIcon field="checkout" /></span>
                </th>
                <th pSortableColumn="attendancecount" style="min-width:190px">
                    Attendance Count<span><p-sortIcon field="attendancecount" /></span>
                </th>
                <th pSortableColumn="createdsource" style="min-width:160px">
                    Created Source<span><p-sortIcon field="createdsource" /></span>
                </th>
                <th pSortableColumn="createdsourcetype" style="min-width:200px">
                    Created Source Type<span><p-sortIcon field="createdsourcetype" /></span>
                </th>
                <th pSortableColumn="createddate" style="min-width:160px">
                    Created Date<span><p-sortIcon field="createddate" /></span>
                </th>
                <th pSortableColumn="modifiedsource" style="min-width:170px">
                    Modified Source<span><p-sortIcon field="modifiedsource" /></span>
                </th>
                <th pSortableColumn="modifiedsourcetype" style="min-width:210px">
                    Modified Source Type<span><p-sortIcon field="modifiedsourcetype" /></span>
                </th>
                <th pSortableColumn="modifieddate" style="min-width:160px">
                    Modified Date<span><p-sortIcon field="modifieddate" /></span>
                </th>
                <th *ngIf="username == 'Admin'">
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr (dblclick)="empAtt(user)" >
                <td>{{ user.employeeid }}</td>
                <td>{{ user.date | date}}</td>
                <td>{{ user.departmentid }}</td>
                <td>{{ user.departmentname.name }}</td>
                <td>{{ user.available.name }}</td>
                <td>{{ user.checkin | date:'h:mm a' }}</td>
                <td>{{ user.checkout | date:'h:mm a' }}</td>
                <td>{{ user.attendancecount }}</td>
                <td>{{ user.createdsource }}</td>
                <td>{{ user.createdsourcetype }}</td>
                <td>{{ user.createddate | date }}</td>
                <td>{{ user.modifiedsource }}</td>
                <td>{{ user.modifiedsourcetype }}</td>
                <td>{{ user.modifieddate | date }}</td>
                <td style="display: flex; column-gap: 2px; text-align: center;" *ngIf="username == 'Admin'">
                    <p-button icon="pi pi-pen-to-square" severity="secondary" (onClick)="editIcon(user)"/>
                    <p-button icon="pi pi-trash" severity="secondary" (click)="confirm($event,user.id)"/>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="16">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmdialog />


<div class="cards">
    <p-dialog header="Verfication" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" [draggable]="false" [resizable]="false">
        <div>
            <label for="username" class="font-semibold w-24">Employee Id : </label>
            <input pInputText name="employeeid" class="flex-auto" [(ngModel)]="empId" />
        </div>
        <div>
            <label for="email" class="email">Department Id : </label>
            <input pInputText name="departmentid" class="flex-auto"  [(ngModel)]="deptId"/>
        </div>
        <div class="button">
            <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
            <p-button label="Save" (click)="navigateToEmpList()" severity="info"/>
        </div>
    </p-dialog>
</div>

<app-employeeattendanceform *ngIf="isVisible" [empId]="empId" [deptId]="deptId" (closeForm)="closeForm($event)"/>

<app-employeeattendanceform *ngIf="empDet" [empDet]="emp" [show]="true" (closeForm)="closeForm($event)" [isEdit]="isEditIcon" [editButtonShow]="true"/>

<p-toast position="top-center" />