<div class="screen"></div>

<app-loading *ngIf="isLoading"/>

<div class="departmentdetail" *ngIf="!isLoading">
    <div class="head">
        <h3>Department Details</h3>
        <p-button icon="pi pi-times" severity="secondary" (onClick)="goback()"/>
    </div>
    <hr>
    <div class="scrool">
        <div class="cloumnflex">
            <div>
                <h5>Department Id</h5>
                <p>{{ dept?.departmentid }}</p>
            </div>
            <div>
                <h5>Department Name</h5>
                <p>{{ dept?.departmentname }}</p>
            </div>
        </div>
        <div class="cloumnflex">
            <div>
                <h5>Manager Id</h5>
                <p>{{ dept?.managerid }}</p>
            </div>
            <div>
                <h5>No of Employee</h5>
                <p>{{ dept?.noofemployees }}</p>
            </div>
        </div>
        <div class="cloumnflex">
            <div>
                <div>
                    <h5>Created Source</h5>
                    <p>{{ dept?.createdsource }}</p>
                </div>
                <div>
                    <h5>Created Source Type</h5>
                    <p>{{ dept?.createdsourcetype }}</p>
                </div>
                <div>
                    <h5>Created Date & Time</h5>
                    <p class="date">{{ dept?.createddate | date: 'MMM d, y, h:mm a' }}</p>
                </div>
            </div>
            <div>
                <div>
                    <h5>Modified Source</h5>
                    <p>{{ dept?.modifiedsource }}</p>
                </div>
                <div>
                    <h5>Modified Source Type</h5>
                    <p>{{ dept?.modifiedsourcetype }}</p>
                </div>
                <div>
                    <h5>Modified Date & Time</h5>
                    <p class="date">{{ dept?.modifieddate | date: 'MMM d, y, h:mm a' }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="gobackbtn">
            <p-button label="Cancel" [raised]="true" severity="secondary" (onClick)="goback()"/>
        </div>
    </div>
</div>
