.flex{
    display: flex;
    justify-content: flex-start;
    margin-top: 64px;
}

.div1{
    height: 92vh;
    position: fixed;
    z-index: 10;
}

.div2{
    width: 82%;
    margin-left: 301px;
}

.full{
    width: 95.5% !important;
    margin-left: 70px;
    height: auto;
}

@media screen and (max-height: 638px){
}

/* Mobile View S */

@media screen and (max-width: 320px){
    .div2{
        width: 100%;
        position: absolute;
        left: 0;
        margin-left: 0px;
    }
    .full{
        width: 80% !important;
        margin-left: 70px;
    }
}

/* Mobile View M */

@media screen and (max-width: 376px) and (min-width: 321px) {
    .div2{
        width: 100%;
        position: absolute;
        left: 0;
        margin-left: 0px;
    }
    .full{
        width: 80% !important;
        margin-left: 70px;
    }
}

/* Mobile View L */

@media screen and (max-width: 426px) and (min-width: 376px){
    .div2{
        width: 100%;
        position: absolute;
        left: 0;
        margin-left: 0px;
    }
    .full{
        width: 80% !important;
        margin-left: 70px;
    }
}


@media screen and (max-width: 768px) and (min-width: 427px){
    .div2{
        width: 100%;
        position: absolute;
        left: 0;
        margin-left: 0px;
    }
    .full{
        width: 90% !important;
        margin-left: 70px;
    }
}