.main{
    display: flex;
}
.sidenavebar{
    background-color: rgb(235, 235, 235);
    padding-top: 60px;
    box-sizing: border-box;
    width: 300px;
    transition: margin-left 50ms;
}
.closenavbar{
    margin-left: -297px;
    transition: margin-left 50ms;
}
.colunm-flex{
    display: flex;
    padding: 10px;
    column-gap: 10px;
    cursor: pointer;
    margin-left: 20px;
}
.colunm-flex:hover{
    background-color: lightgray;
    border-radius: 50px 0 0 50px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.h1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.div{
    width: 20px;
}
.open ::ng-deep.p-button{
    position: fixed;
    left: 280px;
    top: 70px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    border: none;
    transition: margin-left 500ms;
}
.open ::ng-deep.p-button:hover{
    background-color: rgb(195, 195, 195);
    color: black;
}
.close ::ng-deep.p-button{
    position: fixed;
    left: -20px;
    top: 70px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    border: none;
    transition: left 500ms;
}
.close ::ng-deep.p-button:hover{
    background-color: rgb(195, 195, 195) !important;
    border: none;
    color: black;
}

.username{
    width: 100%;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 60px;
}
.active{
    background-color: white;
    border-radius: 50px 0 0 50px;
}
.hidden{
    visibility: hidden;
}
img{
    cursor: pointer;
}

@media screen and (max-height: 638px){
    .username{
        margin-top: 55px;
    }
}

/* Mobile View S */

@media screen and (max-width: 320px){
    .main{
        position: fixed;
        top: 64px;
        z-index: 3;
        height: 100%;
    }
    .sidenavebar{
        width: 250px;
    }
    .closenavbar{
        margin-left: -247px;
    }
    h5{
        font-size: 13px;
        margin-top: 5px;
    }
    .open ::ng-deep.p-button{
        left: 230px;
    }
}

/* Mobile View M */

@media screen and (max-width: 376px) and (min-width: 321px)  {
    .main{
        position: fixed;
        top: 64px;
        z-index: 3;
        height: 100%;
    }
    .sidenavebar{
        width: 250px;
    }
    .closenavbar{
        margin-left: -247px;
    }
    h5{
        font-size: 13px;
        margin-top: 5px;
    }
    .open ::ng-deep.p-button{
        left: 230px;
    }
}

/* Mobile View L */

@media screen and (max-width: 426px) and (min-width: 376px) {
    .main{
        position: fixed;
        top: 64px;
        z-index: 3;
        height: 100%;
    }
    .sidenavebar{
        width: 250px;
    }
    .closenavbar{
        margin-left: -247px;
    }
    h5{
        font-size: 13px;
        margin-top: 5px;
    }
    .open ::ng-deep.p-button{
        left: 230px;
    }
}


@media screen and (max-width: 768px) and (min-width: 427px) {   
    .main{
        position: fixed;
        top: 64px;
        z-index: 3;
        height: 100%;
    }
    .sidenavebar{
        width: 250px;
    }
    .closenavbar{
        margin-left: -247px;
    }
    h5{
        font-size: 13px;
        margin-top: 5px;
    }
    .open ::ng-deep.p-button{
        left: 230px;
    }
}