<div class="navbar">
    <div class="colunm-flex" routerLink="/hrportal/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="div">
            <i class="fa-brands fa-microsoft"></i>
        </div>
        <h3>DashBorad</h3>
    </div>
    <div class="colunm-flex"  routerLink="/hrportal/employeelist" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="div">
            <i class="fa-solid fa-user-group"></i>
        </div>
        <h3>EMPLOYEE LIST</h3>
    </div>
    <div class="colunm-flex"  routerLink="/hrportal/employeeattendance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="div">
            <i class="fa-solid fa-rectangle-list"></i>
        </div>
        <h3>EMPLOYEE ATTENDANCE</h3>
    </div>
    <div class="colunm-flex"  routerLink="/hrportal/departmentlist" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="div">
            <i class="fa-solid fa-building"></i>
        </div>
        <h3>DEPARTMENT LIST</h3>
    </div>
</div>
