<div class="main">
    <div class="sidenavebar" [ngClass]="{'closenavbar': checked}">
        <div class="colunm-flex" routerLink="/hrportal/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                 [ngClass]="{'divcontainer':checked}" pTooltip="DASHBOARD" tooltipPosition="right">
            <div class="div" [ngClass]="{'div1': checked}">
                <i class="fa-brands fa-microsoft" [ngClass]="{'icons':checked}"></i>
            </div>
            <div>
                <h5 [ngClass]="{'display': checked}">DASHBOARD</h5>
            </div>
        </div>
        <div class="colunm-flex"  routerLink="/hrportal/employeelist" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             [ngClass]="{'divcontainer':checked}"  pTooltip="EMPLOYEE LIST" tooltipPosition="right">
            <div class="div"  [ngClass]="{'div1': checked}">
                <i class="fa-solid fa-user-group" [ngClass]="{'icons':checked}"></i>
            </div>
            <h5 [ngClass]="{'display': checked}">EMPLOYEE LIST</h5>
        </div>
        <div class="colunm-flex"  routerLink="/hrportal/employeeattendance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             [ngClass]="{'divcontainer':checked}"  pTooltip="EMPLOYEE ATTENDANCE" tooltipPosition="right">
            <div class="div" [ngClass]="{'div1': checked}">
                <i class="fa-solid fa-rectangle-list" [ngClass]="{'icons':checked}"></i>
            </div>
            <h5 [ngClass]="{'display': checked}">EMPLOYEE ATTENDANCE</h5>
        </div>
        <div class="colunm-flex"  routerLink="/hrportal/departmentlist" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             [ngClass]="{'hidden': username !== 'Admin','divcontainer':checked}"  pTooltip="DEPARTMENT LIST" tooltipPosition="right">
            <div class="div" [ngClass]="{'div1': checked}">
                <i class="fa-solid fa-building" [ngClass]="{'icons':checked}"></i>
            </div>
            <h5 [ngClass]="{'display': checked}">DEPARTMENT LIST</h5>
        </div>
        <div class="username" [ngClass]="{'hidden': checked}">
            <img [src]="url" alt="" width="100px" height="100px" *ngIf="user">
            <div class="h1"> 
                <h1 *ngIf="!user">{{ username?.slice(0,1) }}</h1>
            </div>
            <h4>{{ username }}</h4> 
        </div>
    </div>
    <div class="open">
        <p-button icon="pi pi-chevron-left" aria-label="Save" *ngIf="!checked" (onClick)="onToggle()"/>
    </div>
    <div class="close"> 
        <p-button icon="pi pi-chevron-right" aria-label="Save" *ngIf="checked" (onClick)="onToggle()"/>
    </div>
</div>

<p-confirmdialog />
<!-- 
<p-overlayPanel #op>
    <p-button label="Logout" icon="pi pi-user" severity="secondary" (onClick)="goToLoginPage()"/>
</p-overlayPanel> -->